@charset "UTF-8";

@font-face {
  font-family: "Oleo Script";
  src: url(https://fonts.gstatic.com/s/oleoscript/v5/_weQNDK6Uf40CiGFKBBUjogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
  font-family: "Poiret One";
  src: url(https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8QzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding:0

}

header{
  background-color: red;
  height: 400px
  /*position:
  display: block;
  height: 300px;
  width: 1250px;
  background-image: url("../img/header-background.jpg");*/

}

.site-header{
  background-image: url("../img/header-background.jpg");
background-size: 100% 400px;
background-position: top;
}


.main-heading{
  color:white;
  position: absolute;
  font-family: "Poiret One";
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  left: 300px;
  top: 150px;
}

.logo{
  content: url("../img/logo.png");
  max-width: 150px;
  max-height: 195px;
  filter: invert();
  position: absolute;
  top: 150px;
  left: 907px
}

.divider{
  position : relative;
  top : 250px;
  right :100px ;
  max-width: 630px;

}

.subheader-msg{
  color:white;
  position: relative;
  right: 100px;
  top: 250px;
  font-family: "Oleo Script";
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  font-style: normal;
}

.site-imgs{
  text-align: center;

}

#left-img{
  background-image: url('../img/left-img.jpg');
  background-size: 100% 100%;
  display: inline-block;
  width: 300px;
  height: 300px;
  content:""
}

#middle-img{
  background-image: url('../img/middle-img.jpg');
  background-size: 100% 100%;
  display: inline-block;
  width: 300px;
  height: 300px;
  content:"";
  margin-left: 20px;
  margin-right: 20px
  }

#right-img{
  background-image: url('../img/right-img.jpg');
  background-size: 100% 100%;
  display: inline-block;
  width: 300px;
  height: 300px;
  content:""
}

.primary-text{

  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 41px;
  font-family: "Poiret One";
  color: white;
  padding-left: 300px;
  padding-right: 300px
}

.callout-wrapper{
  background-color: #65976c;
  height: 200px;


}

.contact-msg{
  text-align: center;
  font-family: "Oleo Script";

}

.contact-phone{
  text-align: center;
  font-size: 160%;
  margin-bottom: 10px
}

.contact-email{
  text-align: center;
  font-size: 160%;
  margin-bottom: 10px
}

footer{
  text-align: center;
  color: white;
  background-color: #363636;
  padding: 30px;
  font-family: "Oleo Script"
}
